.loader {
    position: absolute;
    margin: auto;
    top: 50vh;
    bottom: 50vh;
    left: 0;
    right: 0;
}
.collection-fit-buttons-properly {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}