doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/main.css')
        script(src='https://apis.google.com/js/platform.js', async='', defer='')
        script(src='/scripts/GoogleFrontTest.js', type='text/javascript')
        meta(name='google-signin-client_id', content='47235264901-4sg3llq7r8trvo2g2krs7qmouqe16m4a.apps.googleusercontent.com')
    body
        block content